# Python Data Types

Data types are the classification or categorization of data items. 

It represents the kind of value that tells what operations can be performed on a particular data. 

Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

Variables can hold values, and every value has a data-type. 

Python is a dynamically typed language; hence we do not need to define the type of the variable while declaring it. 

The interpreter implicitly binds the value with its type.

a = 5  

The variable a holds integer value five and we did not define its type. Python interpreter will automatically interpret variables a as an integer type.

Python enables us to check the type of the variable used in the program. Python provides us the type() function, which returns the type of the variable passed.

Consider the following example to define the values of different data types and checking its type.

In [1]:

a=10  
b="Hi Python"  
c = 10.5  
print(type(a))  
print(type(b))  
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

# Standard data types

A variable can hold different types of values. For example, a person's name must be stored as a string whereas its id must be stored as an integer.

Python provides various standard data types that define the storage method on each of them. The data types defined in Python are given below.

1. Numbers (int/Flaot/Complex)

2. Sequence Type (String/List/Tuple)

3. Boolean

4. Set

5. Dictionary

![](1.png)

# String: Sequence Type


1. The string can be defined as the sequence of characters represented in the quotation marks. In Python, we can use single, double, or triple quotes to define a string.In Python, Strings are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.

2. String handling in Python is a straightforward task since Python provides built-in functions and operators to perform operations in the string.

3. In the case of string handling, the operator + is used to concatenate two strings as the operation "hello"+" python" returns "hello python".

4. The operator * is known as a repetition operator as the operation "Python" *2 returns 'Python Python'.

5. A String is a sequence of Unicode characters. In Python, String is called str. Strings are represented by using Double quotes or single quotes. 

6. If the strings are multiple, then it can be denoted by the use of triple quotes “”” or ”’. All the characters between the quotes are items of the string.

7. One can put as many as the character they want with the only limitation being the memory resources of the machine system. Deletion or Updation of a string is not allowed in python programming language because it will cause an error. 

8. Thus, the modification of strings is not supported in the python programming language.

9. Strings are also immutable like tuples and items can be extracted using slicing operators [].

10. If one wants to represent something in the string using quotes, then they will need to use other types of quotes to define the string in the beginning and the ending.


 

Creating String
Strings in Python can be created using single quotes or double quotes or even triple quotes.

A string can look like this:

In [3]:
# Use quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [4]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [5]:
# Use quotation marks for defining string

"'Michael Jackson'"

"'Michael Jackson'"

In [9]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [10]:
# Special characters in string

a = '@#2_#]&*^%$'
print(a)

@#2_#]&*^%$

In [11]:
'a'+'b'

'ab'

In [12]:
# Assign string to variable

Name = "Michael Jackson"
print(Name)

Michael Jackson

In [13]:
#Example - 1

str = "string using double quotes"  
print(str)  
s = '''''A multiline 
string'''  
print(s)

string using double quotes
''A multiline
string

The following example illustrates the string in Python.

In [14]:
# Python Program for
# Creation of String
	
# Creating a String
# with single Quotes
String1 = 'Welcome to the Geeks World'
print("String with the use of Single Quotes: ")
print(String1)
	
# Creating a String
# with double Quotes
String1 = "I'm a Geek"
print("\nString with the use of Double Quotes: ")
print(String1)
print(type(String1))
	
# Creating a String
# with triple Quotes
String1 = '''I'm a Roman and I live in a world of "Heaven"'''
print("\nString with the use of Triple Quotes: ")
print(String1)
print(type(String1))

# Creating String with triple
# Quotes allows multiple lines
String1 = '''Heaven
			For
			Life'''
print("\nCreating a multiline String: ")
print(String1)

String with the use of Single Quotes:
Welcome to the Geeks World

String with the use of Double Quotes:
I'm a Geek
<class 'str'>

String with the use of Triple Quotes:
I'm a Roman and I live in a world of "Heaven"
<class 'str'>

Creating a multiline String:
Heaven
			For
			Life

In [15]:
#Example - 1

str = "string using double quotes"  
print(str)  
s = '''''A multiline 
string'''  
print(s)

string using double quotes
''A multiline
string

In [16]:
#Example - 2

str1 = 'hello INSOFE' #string str1    
str2 = ' how are you' #string str2    
print (str1[0:2]) #printing first two character using slice operator    
print (str1[4]) #printing 4th character of the string    
print (str1*2) #printing the string twice    
print (str1 + str2) #printing the concatenation of str1 and str2

he
o
hello INSOFEhello INSOFE
hello INSOFE how are you

<h2 id="index">Indexing</h2>

1. It is helpful to think of a string as an ordered sequence. 

2. Each element in the sequence can be accessed using an index represented by the array of numbers:


<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

In [15]:
# Assign string to variable

Name = "Michael Jackson"
print(Name)

Michael Jackson

In [18]:
Name[0]

'M'

In [19]:
print(Name[0])

M

In [20]:
Name[-1]

'n'

In [21]:
print(Name[-1])

n

# <h3 id="neg">Negative Indexing</h3>

 We can also use negative indexing with strings:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

Negative index can help us to count the element from the end of the string.

In [19]:
Name[-10]

'e'

In [30]:
# Print the last element in the string

print(Name[-1])

n

In [31]:
# Print the first element in the string

print(Name[-15])

M

# Length of the string

We can find the number of characters in a string by using <code>len</code>, short for length:

In [21]:
# Find the length of string

len("Michael Jackson")

15

In [22]:
len('a')

1

# Slicing

In [34]:
a='India'
a

'India'

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsSlice.png" width="600" align="center" />

In [36]:
Name[0:]

'Michael Jackson'

In [40]:
Name[0:4]

'Mich'

In [41]:
Name[8:12]

'Jack'

In [33]:
Name[0:6]

'Michae'

In [34]:
print(Name[0:6])

Michae

In [35]:

Name[0:15]

'Michael Jackson'

In [37]:
Name[0:]

'Michael Jackson'

In [38]:
Name[:15]

'Michael Jackson'

In [42]:
Name[:]

'Michael Jackson'

In [43]:
Name[-14:-1]

'ichael Jackso'

# Finding the Index Number of the Characters

In [45]:
Name.index('a')

4

<h3 id="stride">Stride</h3>

We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

In [ ]:
Accessing the Number

1. Indexing

2. Slicing

3. Stride

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsStride.png" width="600" align="center" />

In [46]:
Name[0:15:2]

'McalJcsn'

In [48]:
Name[::2]

'McalJcsn'

In [49]:
Name[2:15:3]

'ceJkn'

In [50]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[::2]

'McalJcsn'

In [51]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[0:15:2]

'McalJcsn'

In [52]:
'India'+ ' is great'

'India is great'

In [55]:
str(4) + 'a'

TypeError: 'str' object is not callable

<h3 id="concat">Concatenate Strings</h3>

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [47]:
'arpit'+ '  Yadav'

'arpit  Yadav'

In [50]:
'arpit'+5

TypeError: can only concatenate str (not "int") to str

In [59]:
# Print the string for 3 times

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [62]:
'3' + "Michael Jackson"

'3Michael Jackson'

In [63]:
# Concatenate strings

Name = "Michael Jackson"
Name = Name + " is the best"
Name

'Michael Jackson is the best'

# Mutable and Immutable Data Type

In [ ]:
Mutable and Immutable DataTypes

In [ ]:
Mutable= The data Type can be updated/Change

Immutable=The data Type can be updated/Change

In [54]:
L=[1,2,3,4,5]
L

[1, 2, 3, 4, 5]

In [55]:
L[0]

1

In [56]:
L[0]=7

In [57]:
L

[7, 2, 3, 4, 5]

In [51]:
a='India'
a

'India'

In [52]:
a[0]

'I'

In [53]:
a[0]='k'

TypeError: 'str' object does not support item assignment

<h2 id="escape">Escape Sequences</h2>

Back slashes represent the beginning  of escape sequences.

Escape sequences represent strings that may be difficult to input. 

For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [59]:
# New line escape sequence

print(" Michael Jackson \n  is the  best.He was great dancer and singer" )

 Michael Jackson
  is the  best.He was great dancer and singer

Similarly, back slash  "t" represents a tab:

In [61]:
# New line escape sequence

print(" Michael Jackson \t is the  best.He was great dancer and singer" )

 Michael Jackson 	 is the  best.He was great dancer and singer

If you want to place a back slash in your string, use a double back slash:

In [68]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

We can also place an "r" before the string to display the backslash:

In [69]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

In [74]:
Name1="India"

In [75]:
Name1[0]

'I'

In [76]:
Name1[0]='i'

TypeError: 'str' object does not support item assignment

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [64]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)

before upper: Thriller is the sixth studio album

In [65]:
B = A.upper()
print("After upper:", B)

After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [79]:
c = A.lower()
print("After lower:", c)

After lower: thriller is the sixth studio album

# Replace

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [67]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
print(A)
print(B)

Michael Jackson is the best
Janet Jackson is the best

# Find

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsFind.png" width="600" align="center" />

In [82]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('hael')

3

In [83]:
# Find the substring in the string.

Name.find('Jack')

8

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [84]:
# If cannot find the substring in the string

Name.find('Jasdfasdasdf')

-1

# String Formatting

In [1]:
print("my name is sudh")

my name is sudh

In [2]:
a = "surname"

In [3]:
print("my {} is sudh".format(a))

my surname is sudh

In [4]:
print("Greeting from {1}! have a {0} day".format("INSOFE","good"))

Greeting from good! have a INSOFE day

In [6]:
'{0} ,{2},{1}'.format("Greeting ","from","INSOFE")

'Greeting  ,INSOFE,from'

In [7]:
print("Hey , i am %s year old" %(234))

Hey , i am 234 year old

In [8]:
print("Hey , my weight is 76.55 kg")

Hey , my weight is 76.55 kg

In [9]:
print("Hey , my weight is %f kg" %(76.55))

Hey , my weight is 76.550000 kg

In [10]:
a = int(input())

345

In [11]:
print("Hey , i am %f year old" %(int(a)))

Hey , i am 345.000000 year old

In [12]:
a = input("enter your name  ")
b = input("enter your age ")
c = input("enter your company name ")
d = input("enter your profile/deg ")

enter your name  Arpit
enter your age 35
enter your company name INSOFE
enter your profile/deg Data Scientist

In [13]:

print("my name is %s and my age is %d , i am working with %s as a %s" %(a,int(b),c,d))

my name is Arpit and my age is 35 , i am working with INSOFE as a Data Scientist